

.hidden{
    display: none;
}
.show-large{
    display: block;
}

@media screen and (max-width:992px) {
    .show-small{
        display: block
    }
    .show-large{
        display: none !important;
    }
}

@media screen and (max-width:993px) {
    .show-large{
        display: block
    }
}
