.search{
    width: 5rem;
    border: 0.3rem solid rgb(40, 139, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-radius: 4rem;
    position: relative;
    transition: all 0.5s cubic-bezier(0,-1.24,.57,1.75);
    max-width: 200px;
}
.search__form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__input{
    border: none;
    outline: none;
    display: none;
    background-color: transparent;
}
.search__icon{
    border: none;
    outline: none;
    background-color: transparent;
}
.search__icon{
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    border: 0.3rem solid rgb(40, 139, 126);
    display: flex;
}
.search:focus-within{
    width: 23rem;
}
.search:focus-within .search__icon{
    margin-right: auto;
    margin-left: 0.2rem;
    position: absolute;
    left: 0.5rem;
    top: 0.7rem;
    display: flex;
}

.search:focus-within .search__input{
    display: block;
}
.search__navbar{
    width: 20rem;
}
