.nav__lists{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 1.8rem;
}
.nav__list{
    margin-right: 5px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .nav__lists{
        display: none;
    }
}